
<p>
 <strong>Post:</strong> 
<%= simple_format(@post.text) %>
</p>

<p>
 <strong>User: </strong>
 <%= @email %>
 <strong>created_at: </strong>
 <%= @post.created_at.strftime("%m/%d/%Y, %H:%M") %>
</p> 

<% if current_user && @post.user_id==current_user.id %>
<%= link_to '<button type="button">Edit</button>'.html_safe, edit_post_path(@post) %>
<% end %>

<h2>Comments</h2>
<%= render @post.comments %>

<h2>Add a comment:</h2>
<%= render 'comments/form' %>
 
<%= link_to '<button type="button">Back</button>'.html_safe, wall_path(:id => @wall_id) %>
